@import url('https://fonts.googleapis.com/css2?family=Barlow+Condensed:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Barlow:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Bellefair&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: 'Bellefair', sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }

  .typography-preset-one {
    font-family: 'Bellefair', sans-serif;
    font-size: 144px;
    line-height: 171.9%;
    letter-spacing: 0px;
  }

  .typography-preset-two {
    font-family: 'Bellefair', sans-serif;
    font-size: 100px;
    line-height: 114.6%;
    letter-spacing: 0px;
  }

  .typography-preset-three {
    font-family: 'Bellefair', sans-serif;
    font-size: 56px;
    line-height: 64.2%;
    letter-spacing: 0px;
  }

  .typography-preset-four {
    font-family: 'Bellefair', sans-serif;
    font-size: 32px;
    line-height: 36.7%;
    letter-spacing: 0px;
  }

  .typography-preset-five {
    font-family: 'Barlow Condensed', sans-serif;
    font-size: 28px;
    line-height: 33.6%;
    letter-spacing: 4px;
  }

  .typography-preset-six {
    font-family: 'Bellefair', sans-serif;
    font-size: 28px;
    line-height: 32.1%;
    letter-spacing: 0px;
  }

  .typography-preset-seven {
    font-family: 'Barlow Condensed', sans-serif;
    font-size: 14px;
    line-height: 16.8%;
    letter-spacing: 2px;
  }

  .typography-preset-eight {
    font-family: 'Barlow Condensed', sans-serif;
    font-size: 16px;
    line-height: 19.2%;
    letter-spacing: 2px;
  }

  .typography-preset-nine {
    font-family: 'Barlow', sans-serif;
    font-size: 18px;
    line-height: 180%;
    letter-spacing: 0px;
  }

  .nav-button {
    @apply border-b-2 border-transparent hover:border-b-2 hover:border-b-white py-8 duration-500 transition-all mt-1;
  }
}

.responsive-font-size {
  font-size: 21px !important;

  @media (min-width: 640px) {
    font-size: 28px !important;
  }
}

.bellefair-regular {
  font-family: 'Bellefair', serif;
  font-weight: 400;
  font-style: normal;
}

.barlow-condensed-regular {
  font-family: 'Barlow Condensed', sans-serif;
  font-weight: 400;
  font-style: normal;
}

.barlow-regular {
  font-family: 'Barlow', sans-serif;
  font-weight: 400;
  font-style: normal;
}

.barlow-condensed-regular-italic {
  font-family: 'Barlow Condensed', sans-serif;
  font-weight: 400;
  font-style: italic;
}
